
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Light.ttf.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Ubuntu';
	src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
	font-weight: 700;
}